---
import Layout from '../layouts/Layout.astro';
//import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro'; 
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import ContactCTA from '../components/ContactCTA.astro';
---
<Layout title="Wert - Soluciones Para el Campo">
  
  <main class=""> 
	<Hero /> 
	<About />
	<Services />
	<ContactCTA />
	<!-- <div class="h-screen bg-gray-300"></div> -->
  </main>
</Layout>